@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  width: 100%;
  height: 100vh;
  /* border: 2px solid black; */
  /* background-color: cyan; */ 
}

.headre{
  width: 100%;
  height: auto;
  /* background-color: rgb(240, 92, 39); */
  /* color: white; */
  border: 2px solid rgb(241, 133, 94) ;
  text-align: left;
}

.cardParent{
  width:98%;
  margin: 0px auto;
  border:  2px solid rgb(88, 71, 49);
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: 22%;
  margin: 15px auto;
  /* margin-top: 6px; */
  background-color: rgba(134, 123, 123, 0.2);
  border-radius:20px;
  box-shadow: 2px 2px 5px orangered;
  /* border: 1px solid rgb(80, 70, 45); */
}

.cardImage{
  width: 100%;
  height: 200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
@media (min-width: 450px) and (max-width: 850px) {
  
  h1 {
    font-size: 2em;
    line-height: 1.1;
    text-align: center;
  }

  .catogiesText{
    font-size: 2px;
    color: green;
  }
  .card {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 48%;   
    border: 3px solid brown;
  }
  }


@media (min-width: 200px) and (max-width: 450px) {
  h1 {
    font-size: 1em;
    line-height: 1.1;
    text-align: center;
  }
  .card {
    margin: 0px auto;
    margin-bottom: 10px;
    width: 90%;   
  }
  }

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
